@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Anton');
*{
    font-family: 'Poppins', sans-serif;
}
body,html{height:100%;}
/*body{
    background-image: url(../../assets/img/bg.jpeg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}*/
#loader{
    position: absolute;
    z-index: 2000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0, 0.4);
}
#loader img{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
}
.wrapper{
    height: 100%;
    background: #000;
    width: 100%;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
}
@-webkit-keyframes scaling {
    From {
        -webkit-transform: scale(0);
    }
    To {
        -webkit-transform: scale(1.0);
    }
}
.main-nav {
    -webkit-animation: scaling 1s alternate;
}
.intro{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 100%;
}
.quotes{
    padding: 10px;
    max-width: 350px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.quotes p {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .10em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .20em;
    font-size:14px;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .5s step-end infinite;
    margin-bottom: 10px;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orangered }
}
.view-project{
    border: 1px solid orangered;
    padding: 5px 10px;
    font-size: 11px;
    color: orangered;
    opacity:.3;
    transition:  ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition:  ease 0.3s all;
    -o-transition: ease 0.3s all;
    border-radius:5px;
}
.view-project:hover{
    /*background: linear-gradient(80deg, rgba(255, 97, 14, 0.6)35%, #c3abab 80%);*/
    text-decoration: none;
    color:orangered;
    opacity:.6;
}

/* MODAL ABOUT */
#animatedModal{background:#fff !important;}
.about-modal,.skill-modal{overflow-x:hidden;overflow-y:scroll;}
#aboutMe{padding:15px;}
#aboutMe article p.about-intro{font-size:1.7em;font-family: 'Poppins',sans-serif;text-align:center}
#aboutMe .sub{
    font-size: 13px;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}
#aboutMe article p.details{text-align: justify;font-size: 0.95em;font-family: 'Poppins',sans-serif}
#aboutMe article h1{font-size:4em;text-align:center;}
#aboutMe article h2{
    font-size: 2.3em;
    font-weight: 900;
}
.about-me {padding-top:15px;padding-bottom:15px;}
.me{
    height: 350px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 3px 5px 8px 0 rgba(0,0,0,0.3);
}
.me img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.cv{
    border: 1px solid orangered;
    color: orangered;
    padding: 5px 10px;
    font-size: .95em;
    background: transparent;
    border-radius:4px;
}
.cv:hover,.cv:focus{
    color:#fff;
    text-decoration: none;
}
.hvr-bounce-to-right:before
{
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 59%, rgba(246,41,12,1) 96%, rgba(255,69,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(47%, rgba(241,111,92,1)), color-stop(59%, rgba(240,47,23,1)), color-stop(96%, rgba(246,41,12,1)), color-stop(100%, rgba(255,69,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 59%, rgba(246,41,12,1) 96%, rgba(255,69,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 59%, rgba(246,41,12,1) 96%, rgba(255,69,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 59%, rgba(246,41,12,1) 96%, rgba(255,69,0,1) 100%);
    background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 47%, rgba(240,47,23,1) 59%, rgba(246,41,12,1) 96%, rgba(255,69,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ff4500', GradientType=1 );
}
#closeMe{
    width:50px;
    height:50px;
    margin:0 auto;
}
#closeMe img,#closeMe img{
    width: 100%;
    opacity: .6;
    cursor:pointer;
    transition: ease-in 0.1s ;
    -moz-transition: ease-in 0.1s ;
    -webkit-transition:  ease-in 0.1s ;
    -o-transition: ease-in 0.1s ;
}
#closeMe:hover img,#closeMe:hover img{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/* Skills Modal */
#skills article h1{text-align:center;text-transform:uppercase;}
.skill-modal .modal-content{background:transparent !important;}
.skill-image{
    width:130px;
    margin:0 auto;
}
.skill-image img{
    width:100%;
}
.skill-photo{
    margin:15px auto;
    width:130px;
    height:130px;
    border-radius:50%;
    filter:grayscale(.8);
    line-height: 130px;
    text-align: center;
    font-size: 35px;
    color:#fff;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.skill-photo img{
    width:60%;
    transition:  ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition:  ease 0.3s all;
    -o-transition: ease 0.3s all;
}
.skill-photo:hover{
    filter:grayscale(0);
}
.skill-photo:hover img{transform:scale(1.1)}

/* Experience Modal */
.heading{margin-bottom:20px;}
.heading-text{
    font-size: 35px;
    border-bottom: 5px solid;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom:10px;
}
.company-body p{font-family: 'Poppins',sans-serif}
.timeline{list-style:none;padding:0;position:relative}
.timeline>li{
    margin-bottom: 50px;
    position: relative;
    min-height: 50px;
}
.timeline>li .company-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
}
.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}
.timeline>li:after {
    clear: both;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #ddd;
    left: 40px;
    margin-left: -1.5px;
}
.timeline>li.company-reverse>.company-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px;
}
.timeline>li:last-child h4{
    color:#fff;
    font-size: 13px;
    line-height: 13px;
    margin-top: 15px;
}
.company-image{
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #ddd;
    text-align: center;
}
.company-image:last-child{background:#213444;}
.company-image img{width:100%;border-radius:50%;}
.timeline>li:nth-child(3){cursor:pointer;text-transform: uppercase;}
.timeline>li:nth-child(3) h4{
    color:#fff;
    font-weight: 900;
}
#myPortfolio{
    width:100%;
    /*Set a css background */
    background:url(../../assets/img/parallax.jpeg)no-repeat center fixed/cover;
    /*Dont mind the rest*/
    margin:0 auto;
}
#experienceModal .modal-content{background: transparent}
#experienceModal{
    background:url(../../assets/img/parallax.jpeg)no-repeat center fixed/cover;
    margin:0 auto;
}
#work,#project {background: #fff;}
#parallax{
    display: table;
    min-height: 200px;
    width: 100%;
}
.parallax{
    background: rgba(0,0,0,.1);
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}
p.quote,p.writer{
    font-size: 19px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    padding: 0 5px;
}
p.writer{font-size:1.1em;font-style: italic}
#project{
    background:#fff;
}
.proj,.projct{
    max-width: 20px;
    text-align: center;
    top: 5px;
    position: absolute;
    cursor: pointer;
    z-index:1;
}
a.view-prjct{
    transform: rotate(180deg);
    writing-mode: tb-rl;
    letter-spacing: 0.35em;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.75em;
    color: #000;
    padding: 0 6px;
}
.proj:hover a,.projct:hover a{text-decoration: none !important;}


@-webkit-keyframes arrow-jump {
    0%   { opacity: 0;}
    100% { opacity: 1;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
    }
}
#arrow {
    font-size: 15px;
    -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
    animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
}

/* PROJECT */
#projectModal{
    animation: animationFrames ease-out 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease-out 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease-out 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease-out 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease-out 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
    0% {
        opacity:0;
        transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -moz-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -webkit-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -o-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}
.thumbnail{
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}
.thumbnail-hover{
    position: relative;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.thumbnail-hover img{
    border: 1px solid #ddd;
}
.to-hover{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    background: rgba(26, 45, 62, 0.9);
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}
.search-icon{
    position: absolute;
    width: 100%;
    top: 38%;
    font-size: 50px;
    margin: 0 auto;
    display: block;
    color: #fff;
}
.thumbnail>.thumbnail-hover>.to-hover:hover{
    opacity:1;
}
.owl-nav{
    text-align: center;
}
.owl-prev,.owl-next{
    font-family: 'Raleway',sans-serif !important;
    display:inline;
    margin: 5px;
    background: #ddd;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
}
.img-centered{
    margin:0 auto;
}
p.desc{
    font-family: 'Poppins',sans-serif;
    font-style: italic;
    font-size: 12px;
}
#projectModal figure{
    margin-bottom:30px;
}
#projectModal p.details{
    text-align:center;
    line-height: 1.7em;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
#myPortfolio{
    animation: .6s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: .6s ease-out 0s 1 slideInFromLeft;
    -moz-animation:.6s ease-out 0s 1 slideInFromLeft;
}

/* Contact */
#contactModal .modal-content{background:transparent !important;}
#contactModal {background:#fff !important;}
header.header-contact{
    background:  linear-gradient(143deg,rgba(0, 72, 113, 0.8),rgba(200, 88, 121, 0)),
    url(../../assets/img/contact.jpg) no-repeat center center / cover;
    /*background: url(../../assets/img/globe.jpeg) no-repeat center center/ cover !important;*/
    min-height: 50%;
    position: relative;
    top: 0;
}
.header-contact h1{
    margin:0;
}
#contactMe{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 6.5em;
    padding: 30px;
}
.contact-container{
    height:100%;
    position: relative;
}
.contact-container{margin-bottom:20px;}
.greetings{padding:20px;}
.greetings h1,.greetings p{color:#fff;}
#contactMe .left-div, #contactMe .right-div{
    min-height: 400px;
    padding: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);

}
#contactMe .right-div{text-align:left}
#contactMe .right-div label{
    font-size: 0.65em;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
}
#contactMe .right-div input,
#contactMe .right-div textarea,
#contactMe .right-div select,
#contactMe .right-div button{border-radius: 0;}
.left-div{
    background: #333;
    color: #fff;
}
.right-div{ background: #fff;}
ul.contact-info{list-style: none;padding:0;}
ul.contact-info li i{
    color: #ec5353;
    position: absolute;
    left: 30px;
    font-size: 20px;
}
ul.contact-info li:last-child i{
    left: 27px;
    font-size: 17px;
}
ul.contact-info li{
    font-family: 'Poppins',sans-serif;
    font-size: 0.95em;
    font-weight: 100;
    padding: 10px;
    text-align: left;
    margin-left: 40px;
}
.social{
    margin: 30px auto;
    position: relative;
}
.social-icons{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.social-icons img{width:100%;}
.social-icons a{display: block;}
/* Heart beat animation */
.heartbeat {
    animation: beat .25s infinite alternate;
    transform-origin: center;
}
@keyframes beat{
    to { transform: scale(1.1); }
}

/* CSS navigation */
.main-nav{
    position: absolute;
    bottom: 20%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.nav-content{list-style:none;padding:0;}
.nav-content li{display:inline-block;padding:0 5px;}
.nav-content li a {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.025em;
    color: rgba(255,69,0,.3);
    cursor:pointer;
    transition:  ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition:  ease 0.3s all;
    -o-transition: ease 0.3s all;
}
.nav-content li:nth-child(2){
    border-left:1px solid rgba(255,69,0,.3);
    border-right:1px solid rgba(255,69,0,.3);
}
.nav-content li a:hover {
    color:orangered;
    opacity:.6;
    text-decoration: none;
}
.about-page{
    height:100%;
    width:100%;
    background: #fff;
}
.modal-dialog {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.modal-content{
    height:100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    display: table;
}
.body-content{display:table-cell;vertical-align: middle;margin:0 auto;}
/* for desktop */
@media only screen and (min-width:768px){
    .me{
        width:350px;
    }
    .greetings{padding:50px 0;}
    .quotes{max-width: 445px;}
    .quotes p {font-size: 20px;}

    .nav-content li a {
        font-size: 17px !important;
    }
    .view-project{
        padding: 6px 12px;
        font-size: 15px;
    }

    #aboutMe article h2{
        font-size:4em;
    }
    .row{
        max-width: 1040px;
        margin: 0 auto;
    }

    #closeMe{
        position: absolute;
        top: 15px;
        right: 50px;
        opacity:.5;
        z-index: 1;
    }

    /* EXPERIENCE */
    .timeline>li .company-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li.company-reverse>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
    .timeline>li .company-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px;
    }
    .timeline>li {
        min-height: 100px;
    }
    .timeline:before {left: 50%;}
    .timeline>li:nth-child(3) h4{color:#fff;margin-top:13px;line-height:20px;font-weight: 900}
    .timeline>li.company-reverse>.company-panel {
        padding: 0 30px 20px 20px;
    }

    .proj,.projct{
        max-width: 20px;
        text-align: center;
        top: 10px;
        position: absolute;
        cursor: pointer;
    }
    a.view-prjct{
        transform: rotate(180deg);
        writing-mode: tb-rl;
        letter-spacing: 0.55em;
        font-family: 'Poppins',sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 0.85em;
        color:#000;
        padding: 6px;
    }
    #arrow{font-size:25px;}
}
@media only screen and (min-width:1200px){
    .me{
        width:350px;
    }
    .greetings{padding:50px;}
    .nav-content li{padding:0 10px;}
    .nav-content li a {
        font-size: 25px !important;
    }
    #closeMe{
        position: absolute;
        top: 15px;
        right: 50px;
        opacity:.5;
        z-index: 1;
    }

    .timeline>li .company-image {
        width: 150px;
        height: 150px;
        margin-left:-75px;
    }
    .timeline:before {left: 50%;}
    .timeline>li .company-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li.company-reverse>.company-panel {
        padding: 0 100px 20px 20px;
    }

    .timeline>li:nth-child(3) h4 {
        margin-top: 30px;
        line-height: 26px;
        font-size: 25px;;
    }
    .timeline>li {
        min-height: 150px;
    }
    #parallax{min-height: 250px;}
    p.quote,p.writer{
        font-size: 25px;
    }
    p.writer{font-size:1.3em;}
    .proj{
        max-width: 20px;
        text-align: center;
        top: 10px;
        position: absolute;
        cursor: pointer;
    }
    a.view-prjct{
        transform: rotate(180deg);
        writing-mode: tb-rl;
        letter-spacing: 0.55em;
        font-family: 'Poppins',sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 0.85em;
        color:#000;
        padding: 6px;
    }
    #arrow{font-size:25px;}
}